*{
    box-sizing: border-box;
}

#jumbotron{
    width: 500px;
    height: 700px;
    margin: auto;
    border: 1px solid red;
    display: block;
}

#clearButton{
    margin: 0 auto;
    width: 100%;
    height: 25px;
    border: 1px solid blue;
}


.container{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin-top: 200px;
    padding: 0;
    float:left
}

table{
    width: 500px;
    heigth: 500px;
    float: left;
    margin: 0;

}

td{

}

.cellTouched{
    background-color: black;
}